.task {
    min-height:250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#D8D8D8;
    margin-bottom:20px;
}

.whiteboard {
    min-height: 75vh;
}

/* Equal width for col1, col2, col3 */
.col{
    flex: 1 1 0; /* Ensure equal width */
}

body {
    display: flex; /* Enable flexbox on the body */
    justify-content: center; /* Center horizontally */
}

.description{
    background-color:#F8F8F8;
    padding:5px
}

.info{
    color:white;
}